/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Roboto Condensed", sans-serif;
    color: #717171;
    scroll-behavior: smooth;
}

.title {
    font-size: 1.2rem;
    border-bottom: 1px solid #717171;
    margin-bottom: 40px;
    color: #ec7532;
}

.title::after {
    content: "";
    height: 4px;
    width: 10%;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all .5s;
    margin-top: 20px;
}

/* HEADER  */
header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.header__top a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.header__top .header__search .btn {
    color: white;
    border: none;
    background: none;
    box-shadow: none;
}

.header__top .header__search .btn:hover {
    background: linear-gradient(to right, #fbbd61, #ec7532);
}


.header__navbar #header__Dropdown .nav-link {
    padding: 20px 25px;
    color: white;
    letter-spacing: 3px;
    transition: all .5s;
}

.header__navbar #header__Dropdown .nav-item::after {
    content: "";
    height: 3px;
    width: 0;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all .5s;
}

.header__navbar #header__Dropdown .nav-item:hover::after {
    width: 100%;
}

.header__navbar #header__Dropdown .nav-item:hover .nav-link {
    color: #ec7532;
}

/* HEADER FIXED  */
#headerFixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transform: translateY(-100%);
}



/* CAROUSEL  */
.carousel #carousel__MovieCaptions .carousel-item img {
    height: 90vh;
    object-fit: cover;
}

.carousel #carousel__MovieCaptions .carousel-item .carousel-caption {
    text-align: left;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 60vw;
}

#carousel__MovieCaptions .carousel-caption p:first-child {
    font-size: 0.9rem;
    color: #fbbd61;
    letter-spacing: 2px;
}

#carousel__MovieCaptions .carousel-caption p {
    line-height: 1.5em;
    letter-spacing: 1px;
}

#carousel__MovieCaptions .carousel-caption h2 {
    font-size: 3.25rem;
}

#carousel__MovieCaptions .carousel-caption span:first-child {
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    z-index: 2;
}

#carousel__MovieCaptions .carousel-caption .btn {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    color: white;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
}

#carousel__MovieCaptions .carousel-caption .btn i {
    position: relative;
    z-index: 2;
}

#carousel__MovieCaptions .carousel-caption .btn span {
    letter-spacing: 3px;
    position: relative;
    z-index: 2;
}

#carousel__MovieCaptions .carousel-caption .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -115%;
    height: 100%;
    width: 110%;
    background-color: #ec7532;
    transform: skewX(30deg);
    transition: all .5s;
}

#carousel__MovieCaptions .carousel-caption .btn:hover::before {
    left: -5%;
}

#carousel__MovieCaptions .carousel-indicators .carousel__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
}

#carousel__MovieCaptions .carousel-indicators {
    bottom: 10vh;
}

#carousel__MovieCaptions .carousel-indicators .carousel__circle.active {
    background-color: white;
}

/* NEW IN  */
.newIn {
    padding: 80px 0;
}

.newIn h2 {
    color: #ec7532;
    letter-spacing: 2px;
}

.newIn__content .newIn__item .newIn__img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.newIn__content .newIn__item .newIn__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.newIn__content .newIn__item .newIn__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -250%;
    height: 100%;
    width: 210%;
    background-color: rgba(236, 118, 50, 0.8);
    transform: skewX(30deg);
    transition: all .5s;
}

.newIn__content .newIn__item .newIn__img:hover::before {
    left: -70%;
}


.newIn__content .newIn__item .newIn__img .newIn__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: all .5s;
}

.newIn__content .newIn__item .newIn__img:hover .newIn__play {
    opacity: 1;
}

.newIn__item .newIn__img .newIn__play a {
    text-decoration: none;
    display: block;
    color: white;
    margin: 20px 0;
    font-size: 0.9rem;
    transition: all .5s;
}

.newIn__item .newIn__img .newIn__play a:hover {
    transform: scale(90%);
}

.newIn__item .newIn__img .newIn__play i {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    border: 1px solid white;
}

.newIn__item .newIn__bottom p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.newIn__item .newIn__bottom i {
    color: #ec7532;
    margin-bottom: 20px;
}

/* SHOW TIME WEEKDAY  */

.showTime .showTime__container .nav-link span {
    padding: 15px 30px;
    color: black;
    font-size: 1.1rem;
    transition: all .5s;
    margin-bottom: 10px;
}

.showTime .showTime__container .nav-link {
    border: none;
    padding: 0;
}

.showTime .showTime__container .nav-link.active span {
    color: #ec7532;
}

.showTime .showTime__container .nav-link.active::after {
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all .5s;
}

.showTime .showTime__container .nav-link:hover span {
    color: #ec7532;
}

.showTime .showTime__container .nav-link::after {
    content: "";
    height: 4px;
    width: 0;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all .5s;
    margin-top: 20px;
}

.showTime .showTime__container .nav-link:hover::after {
    width: 100%;
}

/* SHOW TIME WEEKDAY  */
.showTime .showTime__content .showTime__item .showTime__img img {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.showTime__content .showTime__item .showTime__text p:first-child {
    color: #ec7532;
    letter-spacing: 2px;
}

.showTime__content .showTime__item .showTime__text a {
    color: #ec7532;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 30px 0;
    display: block;
}

.showTime__item .showTime__text .showTime__viewTime span:last-child {
    padding: 15px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

/* COMMING SOON  */
.commingsoon {
    background: #101010 url(../img/slide-3.png);
    background-size: cover;
    padding: 50px 0;
    color: white;
}

.commingsoon .commingsoon__text p:first-of-type {
    color: #ec7532;
    letter-spacing: 2px;
}

.commingsoon .commingsoon__text .commingsoon__start i {
    color: #ec7532;
    margin-right: 5px;
}

.commingsoon .commingsoon__text .commingsoon__start span i {
    color: white;
}

.commingsoon .commingsoon__text p:last-of-type {
    margin: 20px 0;
}

.commingsoon .commingsoon__video a {
    position: relative;
}

.commingsoon .commingsoon__text a {
    color: #ec7532;
    text-decoration: none;
    letter-spacing: 2px;
}

.commingsoon__video i {
    font-size: 20px;
    padding: 30px;
    border: 2px solid #ec7532;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all .5s;
}

.commingsoon .commingsoon__video:hover i {
    transform: translate(-50%, -50%) scale(90%);
}


/* MOVIE LIST  */
.movieList {
    background-color: black;
    padding: 40px 0;
}

.movieList .movieList__content .movieList__item img {
    border-radius: 20px;
    border: 1px solid white;
    opacity: 0.5;
    transition: all .5s;
}

.movieList .movieList__content .movieList__item img:hover {
    opacity: 1;
}

/* CONTACT  */
.contact a {
    font-size: 3rem;
}

/* FOOTER  */
footer .footer__container .footer__item h5 {
    color: #ec7532;
    letter-spacing: 2px;
    font-size: 1rem;
}

.footer__container .footer__item .nav-item a {
    color: white;
    transition: all .5s;
}

.footer__container .footer__item .nav-item a:hover {
    color: #fbbd61;
}